<div class="index-header-section">
    <img class="index-header-logo" src="/assets/logo.png" />
    <div class="index-header-container" id="index-header-container">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/features">Why DisPlicare?</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li class="float-right-mobile-header"><a href="/login">SignIn</a> </li>
            <button class="index-header-signup-button float-right-mobile-header">SignUp</button>
            <li class="visible-mobile-header"><a href="/signup">SignUp</a></li>
        </ul>
    </div>
    <img class="index-sidebar-button" onclick="openSidebar()"
        src="https://cdn0.iconfinder.com/data/icons/heroicons-ui/24/icon-menu-512.png" />
</div>
<style>
    @media screen and (max-width: 8000px) {
    .index-header-signup-button {
        border: none;
        background: none;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        border-spacing: 10px;
        border: 1px solid #000;
        display: inline-block;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
    }

    .float-right-mobile-header {
        float: right !important;
    }

    .visible-mobile-header {
        visibility: hidden !important;
    }

    .index-header-logo {
        display: block;
        float: left;
        padding-left: 3vw;
        margin-top: 2.5vh;
        height: 40px !important;
        width: 40px !important;
    }

    .index-header-container {
        width: 90vw;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .index-header-section {
        display: inline-block;
        position: absolute;
        width: 98vw;
    }

    .index-header-container ul {
        list-style-type: none;
        display: inline-block;
        width: 100%;
    }

    .index-header-container a {
        position: relative;
        background-color: transparent;
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }

    .index-header-container a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: rgb(78, 73, 73);
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .index-header-container a:hover {
        transition: 0.3s;
        color: rgb(78, 73, 73);
    }

    .index-header-container a:hover::before {
        transform: scaleX(1);
    }

    .index-header-container li {
        float: left;
        padding: 20px 16px;
    }

    .index-sidebar-button {
        visibility: hidden;
        float: right;
        padding-top: 20px;
        padding-right: 20px;
        height: 30px;
    }

    .index-header-signup-button:hover {
        background-color: #000;
        border-color: #fff;
        color: #fff;
        transition: 0.2s;
    }
    }
    @media screen and (max-width: 950px) {
        .index-sidebar-button {
            visibility: visible;
            direction: rtl;
        }

        .index-header-container ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
        }

        .index-header-container {
            display: none;
            flex-direction: column;
            height: 100vh;
            background-color: #fff;
            margin-top: 7vh;
            width: 95vw;
            background-position: right;
        }
    }
</style>

<script>
    let locked = false;

    function openSidebar() {
        if (locked === false) {
            window.document.getElementById('index-header-container').style.display = 'flex';
            locked = true
        } else {
            window.document.getElementById('index-header-container').style.display = 'none';
            locked = false
        }
    }
</script>