<div class="index-header-logo">
    <img class="index-header-logo-img" src="/assets/logo.png" />
</div>
<div class="index-header-container" id="index-header-container">
    <ul class="index-header-left">
        <li class="visible-mobile-header"><img onclick="closeSidebar()"
                src='https://www.freeiconspng.com/uploads/black-close-icon-3.png' style="height: 18px; float: right;">
        </li>
        <li><a href="#home">Home</a></li>
        <li><a href="/documentation">Documentation</a></li>
        <li><a href="/features">Why DisPlicare?</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li class="float-right-mobile-header"><a href="/login">SignIn</a></li>
        <li class="visible-mobile-header"><a href="/signup">SignUp</a></li>
        <li class="index-signup-button float-right-mobile-header"><button>SignUp</button></li>
    </ul>
</div>
<div class="index-sidebar-button" id="index-sidebar-button">
    <img onclick="openSidebar()" style="width: 20px; height:20px;"
        src="https://cdn0.iconfinder.com/data/icons/heroicons-ui/24/icon-menu-512.png" />
</div>

<style>
    .float-right-mobile-header {
        float: right !important;
    }

    .visible-mobile-header {
        visibility: hidden !important;
    }

    .index-header-logo {
        float: left;
        padding-top: 5px;
        display: block;
    }

    .index-header-logo-img {
        height: 40px !important;
        width: 40px !important;
    }

    .index-header-container {
        width: 90%;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
    }

    .index-header-container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .index-header-container a {
        position: relative;
        background-color: transparent;
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }

    .index-header-container a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: rgb(78, 73, 73);
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .index-header-container a:hover {
        transition: 0.3s;
        color: rgb(78, 73, 73);
    }

    .index-header-container a:hover::before {
        transform: scaleX(1);
    }

    .index-header-left li {
        float: left;
        padding: 14px 16px;
    }

    .index-sidebar-button {
        visibility: hidden;
    }

    @media screen and (max-width: 950px) {
        .visible-mobile-header {
            visibility: visible !important;
        }

        .sidebar {
            visibility: visible !important;
            height: auto;
        }

        .index-sidebar-button {
            visibility: visible;
            float: right;
            padding-top: 15px;
            padding-right: 15px;
        }

        .float-right-mobile-header {
            float: left;
        }

        .index-header-left img {
            float: none;
            height: 40px;
            padding-top: 5px;
        }

        .index-header-section li a {
            color: #000;
            padding: 2px 5px;
            text-decoration: none;
            width: 100%;
        }

        .index-header-container ul {
            list-style-type: none;
            background-color: #f1f1f1;
            float: right;
            display: none;
            flex-direction: column;
            width: 0%;
        }

        .index-header-right {
            visibility: hidden;
            height: 0;
            width: 0;
        }

        .index-signup-button {
            visibility: hidden;
            height: 0;
            width: 0;
        }
    }
</style>

<script>
    let locked = false;
    setInterval(function () {
        if (window.innerWidth > 950) {
            locked = false
            document.getElementById('index-header-container').getElementsByTagName('ul')[0].style.display =
                'inline-block'
            document.getElementById('index-header-container').getElementsByTagName('ul')[0].style.width = '100%'
            document.getElementById('index-sidebar-button').style.visibility = 'hidden'
        } else {

            if (locked == false) {
                document.getElementById('index-header-container').getElementsByTagName('ul')[0].style.display =
                    'none'
                document.getElementById('index-header-container').getElementsByTagName('ul')[0].style.width =
                    '0%'
                document.getElementById('index-sidebar-button').style.visibility = 'visible'
                locked = true
            }
        }
    }, 500)

    function openSidebar() {
        document.getElementById('index-header-container').getElementsByTagName('ul')[0].style.display = 'flex'
        document.getElementById('index-header-container').getElementsByTagName('ul')[0].style.width = '100%'
        document.getElementById('index-sidebar-button').style.visibility = 'hidden'
    }

    function closeSidebar() {
        document.getElementById('index-header-container').getElementsByTagName('ul')[0].style.display = 'none'
        document.getElementById('index-header-container').getElementsByTagName('ul')[0].style.width = '0%'
        document.getElementById('index-sidebar-button').style.visibility = 'visible'
    }
</script>