<html lang="en">

<body>
    <div class="login-container">
        <div class="login-section">
            <form class="login-form">
                <label for="index-email">Username or email address</label>
                <input type="text" id="index-email" name="index-email" class="index-email"><br><br>
                <label for="index-password">Password </label>
                <a class="label-link position-absolute top-0 right-0" tabindex="0" href="/password_reset">Forgot password?</a>
                <input type="password" id="index-password" name="index-password" class="index-password"><br><br>
                <input type="submit" value="Sign In" class="index-submit" id="index-submit">
            </form>
        </div>
    </div>
</body>

<link rel="stylesheet" href="/css/index.css">

<script src='js/index.js'></script>

</html>