<div class="newapp-section">
    <div class="newapp-container">
        <h1>Create A New App</h1>
        <div class="newapp-container-form">
            <form class="newapp-form" onsubmit="event.preventDefault(); newApp()">
                <label for="newapp-index-appname">App Name</label>
                <input type="text" id="newapp-index-appname"><br><br>
                <input type="submit" value="Create App" class="newapp-index-submit" id="newapp-index-submit">
            </form>
        </div>
        <h4 class="error1" id="error1"></h4>
    </div>
</div>

<style>
    .newapp-section {
        width: 90%;
        display: flex;
        justify-content: center;
    }
</style>

<script>

    async function newApp() {
        let reponame = document.getElementById('newapp-index-appname').value
        if (reponame == '') {
            document.getElementById('error1').innerHTML = `Reponame can't be empty`;
        } else {
            document.getElementById('error1').innerHTML = ``;
            console.log("fetching stuff")
            try {
                const response = await (
                    await fetch(
                        window.location.origin + `/new-app`, {
                            method: "POST",
                            body: JSON.stringify({
                                appname: reponame
                            }),
                            headers: {
                                "Content-Type": "application/json; charset=utf-8"
                            },
                        }
                    )
                ).json();
                window.document.getElementById('error1').innerHTML = response.message || response.error;
            } catch (e) {
                window.document.getElementById('error1').innerHTML = e;
            }
        }
    }
</script>