<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 95vh;
        width: 95vw;
    }

    .login-section {
        margin-top: 20px;
        border: 1px solid #ebedef;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 300px;
        padding: 20px;
        border-radius: 8px;
        background-color: #f6f8fa;
    }

    .login-section label {
        color: #24292e;
    }

    .login-section input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 10px 16px 10px 16px;
        margin: 8px 0;
        border: 1px solid #216e39;
        border-radius: 8px;
        cursor: pointer;
    }

    .login-section input[type=submit]:hover {
        transition: 0.2s;
        background-color: #45a049;
    }

    .login-section a {
        float: right;
        background-color: transparent;
        text-decoration: none;
        color: #0366d6;
    }

    .login-section input:focus {
        outline: white !important;
        border: 1px solid #2188ff;
        box-shadow: 0 0 10px #79b8ff;
    }

    .login-section input {
        font-size: 18px;
        width: 100%;
        padding: 8px 18px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
    }

    .index-logo {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .index-logo img {
        height: 130px;
        width: 130px;
    }

</style>
<div class="login-container">
    <div>
        <div class="index-logo">
            <img src="/assets/logo.png" />
        </div>
        <h1>Sign In To DisPlicare</h1>
    </div>
    <div class="login-section">
        <form class="login-form">
            <label for="index-email">Email Address</label>
            <input type="text" id="index-email" name="index-email" class="index-email"><br><br>
            <label for="index-password">Password </label>
            <a class="label-link position-absolute top-0 right-0" tabindex="0" href="/password_reset">Forgot
                password?</a>
            <input type="password" id="index-password" name="index-password" class="index-password"><br><br>
            <input type="submit" value="Sign In" class="index-submit" id="index-submit">
        </form>
    </div>
</div>