<style>
    .signup-index-container {
        padding-top: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 95vh;
        width: 95vw;
    }

    .signup-section {
        margin-top: 20px;
        border: 1px solid #ebedef;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        width: 300px;
        padding: 20px;
        border-radius: 8px;
        background-color: #f6f8fa;
    }

    .signup-section label {
        color: #24292e;
    }

    .signup-section input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 10px 16px 10px 16px;
        margin: 8px 0;
        border: 1px solid #216e39;
        border-radius: 8px;
        cursor: pointer;
    }

    .signup-section input[type=submit]:hover {
        transition: 0.2s;
        background-color: #45a049;
    }

    .signup-section a {
        float: right;
        background-color: transparent;
        text-decoration: none;
        color: #0366d6;
    }

    .signup-section input:focus {
        outline: white !important;
        border: 1px solid #2188ff;
        box-shadow: 0 0 10px #79b8ff;
    }

    .signup-section input {
        font-size: 18px;
        width: 100%;
        padding: 8px 18px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
    }

    .index-logo {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .index-logo img {
        height: 130px;
        width: 130px;
    }
</style>
<div class="signup-index-container">
    <div>
        <div class="index-logo">
            <img src="/assets/logo.png" />
        </div>
        <h1>Sign Up To DisPlicare</h1>
    </div>
    <div class="signup-section">
        <form class="signup-form" onsubmit="event.preventDefault(); indexSignup()">
            <label for="signup-index-fullname">Full Name</label>
            <input type="text" id="signup-index-fullname"><br><br>
            <label for="signup-index-username">Username</label>
            <input type="text" id="signup-index-username"><br><br>
            <label for="signup-index-email">Email Address</label>
            <input type="text" id="signup-index-email"><br><br>
            <label for="signup-index-password">Password</label>
            <input type="password" id="signup-index-password"><br><br>
            <label for="signup-index-confirm-password">Confirm Password</label>
            <input type="password" id="signup-index-confirm-password"><br><br>
            <input type="submit" value="Register" class="signup-index-submit" id="signup-index-submit">
        </form>
    </div>
    <h4 id="error"></h4>
</div>

<script>
    async function indexSignup() {
        let full_name, username, email, password, confirm_password;

        full_name = window.document.getElementById('signup-index-fullname').value
        username = window.document.getElementById('signup-index-username').value
        email = window.document.getElementById('signup-index-email').value
        password = window.document.getElementById('signup-index-password').value
        confirm_password = window.document.getElementById('signup-index-confirm-password').value

        if (full_name.length != 0 && username.length != 0 && email.length != 0 && password.length != 0 &&
            confirm_password.length != 0) {
            window.document.getElementById('error').innerHTML = "";
            if (password.length >= 6) {
                window.document.getElementById('error').innerHTML = "";
                if (password == confirm_password) {
                    try {
                        const response = await (
                            await fetch(
                                window.location.origin + `/register`, {
                                    method: "POST",
                                    body: JSON.stringify({
                                        name: full_name,
                                        username: username,
                                        email: email,
                                        password: password
                                    }),
                                    headers: {
                                        "Content-Type": "application/json; charset=utf-8"
                                    },
                                }
                            )
                        ).json();
                        window.document.getElementById('error').innerHTML = response.message;
                    } catch (e) {
                        window.document.getElementById('error').innerHTML = e;
                    }

                }
            } else {
                window.document.getElementById('error').innerHTML = "Password has to be at minimum of 6 letters.";
            }
        } else {
            window.document.getElementById('error').innerHTML = "Please Fill All The Fields";
        }
    }
</script>